.banner {
    position: relative;
    width: 100%;
    height: 100vh;
        background: { 
            color: #b9b8b8;
            size: cover;
            position: center;
        }
    background-image: url('../assets/imageness/gimnasio-principal.jpg');
    .banner-contenedor{display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    color: $color-letras;
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    background-color: rgba($color: #000000, $alpha: .4);
                    font-weight: bolder;}
                    .banner-contenedor{font-size: 40px;
                                    padding: 10px;}
}

    //RESPONSIVE
    @media (max-width:1024px){
    .banner-contenedor{
        font-size: 70px;
        }
    }
   