
footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
    background-color: rgb(83, 83, 83);
    width: 100%;
    bottom: 0;
}
.foot {
    font-size: 18px;
}
.redes {
    width: 100%;
    text-align: center;
    font-size: 25px;
}
.redes a {
    color: goldenrod;
    text-decoration:none;
}
.contenedor p {
    margin-top: 6px;
    color: goldenrod;
}

