
footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 5px;
    background-color: rgb(83, 83, 83);
    width: $ancho-principal;
    position: absolute;
    bottom: 0;
    .foot {font-size: 18px;}
            .redes {width: $ancho-principal;
                text-align: center;
                font-size: 25px;}
                a {color: goldenrod;
                text-decoration:none;}
                    p {margin-top: 6px;
                    color: $color-primario;}
    } 

