.gallery-container{
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-auto-rows: 150px;
    padding: 30px;
    grid-gap: 10px;
    .gallery__item
        {position:relative;}
        .gallery__img{
            width: $ancho-principal;
            height: 100%;
            object-fit: cover;
            justify-content: center;
            align-items: center;}
            :hover {
                background-color: $color-fondo;
                opacity: 0,5;
            }
}  
        .gallery__title{ 
                    bottom:0;
                    color: $color-letras;
                    width: $ancho-principal;
                    margin: 0;
                    position: absolute; 
                    font-size: 20px;;
                    display: flex;}
    
    
    .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2;
    }
    .gallery__item:nth-child(5) {
    grid-row-start: span 2;
    }
    //RESONSIVE
    @media (min-width:450px){
        .gallery-container .gallery__img {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(1, 1fr);
        }
        .gallery__item:nth-child(1) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(2) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(3) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(4) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(5) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(6) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(7) {
            grid-column-start: span 1;
            }
        .gallery__item:nth-child(8) {
            grid-column-start: span 1;
            }
        .gallery__title{
            font-size: medium;
        }
    }


        @media (min-width:768px){
        .gallery-container .gallery__img{
            grid-template-columns: repeat(3, 1fr);
        }
        .gallery__item:nth-child(1) {
            grid-column-start: span 2;
            grid-row-start: span 2;
            }
            .gallery__item:nth-child(5) {
            grid-row-start: span 2;
            }
            .gallery__item:nth-child(6) {
                grid-row-start: span 2;
                }
                .gallery__item:nth-child(7) {
                grid-row-start: span 3;
                }
                .gallery__item:nth-child(8) {
                    grid-row-start: span 2;
                    }
        .gallery__title{
            font-size: large;
        }
    }
    @media (min-width:1124px){
        .gallery-container .gallery__img{
            grid-template-columns: repeat(4, 1fr);
        }
        .gallery__item:nth-child(1) {
            grid-column-start: span 3;
            grid-row-start: span 4;
            }
        .gallery__item:nth-child(5) {
            grid-row-start: span 4;
            }
        .gallery__item:nth-child(7) {
                grid-row-start: span 4;
                }
        .gallery__title{
            font-size: x-large;
        }
    }
    @media (min-width:1600px){
        .gallery-container .gallery__img{
            grid-template-columns: repeat(4, auto);
            grid-template-areas:
            'foto1 foto1 foto1 foto1'
            'foto2 foto2 foto3 foto3'
            'foto4 foto4 foto4 foto4'
            'foto5 foto5 foto6 foto6'
            'foto5 foto5 foto8 foto8';
        }
        .gallery__title{
            font-size: xx-large;
        }
    }