header {
    width: $ancho-principal;
    height: 50px;
    background: $color-letras;
    color: $color-primario;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    .contenedor
        {display: table;}
    label {float: right;
        font-size: 28px;
        margin: 6px 0;
        cursor: pointer;}
}
.contenedor {
    width: 90%;
    margin: auto;
    h1 {float: left;}
}