#menu-bar {
    display: none ;
} 
.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: $color-primario;
    transition: all 0.5s;
    transform: translateX(-100%);
    a //estilo del a
        {display: block;
        color:$color-letras;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid $color-borde;
        }
        :hover //estilo del hover
            {background: rgb(68, 65, 57);
            }
    }

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

/*Resposive*/
@media (min-width:980px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
        a {border: none
        }
    }

    /*.menu a {
        border: none
    }*/
    header label {
        display: none;
    }
}
