$color-primario:#daa520;
$color-fondo: #000;
$color-borde:rgb(248, 155, 68);
$color-ejemplos:#333;
$color-principal-formulario: rgb(87, 69, 49);
$color-principal-footer: rgb(83, 83, 83); 
$color-letras: #ffffff; 




