@import 'variables';
@import 'footer';
@import 'galeria';
@import 'formulario';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
    
    /*---EXTRAS---*/
    body {
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 50px;
        background-color:$color-fondo;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        position: relative;
        padding-bottom: 5rem;
    }
    header {
        width: 100%;
        height: 50px;
        background:$color-letras;
        color:$color-primario;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
    }
    .contenedor {
        width: 98%;
        margin: auto;
    }
    h1 {
        float: left;
    }
    header .contenedor {
        display: table;
    }
    section {
        width: 100%;
        margin-bottom: 25px;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        padding: 20px;
            &:hover {
                background-color:$color-primario;
                color:$color-letras;
                    }
                        }
    li:hover{
        background-color:$color-primario;
        color:$color-letras;
    }
    .principal-text {
        text-align: center;
        margin: auto;
        width: 50%;
        padding: 10px;
        color:$color-letras;
    }
    
    .click-im {
        border: 1px solid $color-borde;
        border-radius: 10px;
        padding: 10px;
        width: 50%;
        height:50%;
    }
    h3 {
        text-align: center;
        color:$color-primario;
    }
    .principal{
        padding-top: 20px;
        margin-top: 10vh;
    }
    .center{
        text-align: center;
        color:$color-primario;
    }
    
    /*----MENU----*/
    
    #menu-bar {
        display: none ;
    } 
    header label {
        float: right;
        font-size: 28px;
        margin: 6px 0;
        cursor: pointer;
    }
    .menu {
       position: absolute;
       top: 50px;
       left: 0;
       width: 100%;
       height: 100vh;
       background: rgb(165, 153, 153);
       transition: all 0.5s;
       transform: translateX(-100%);
    }
    
    .menu a{
        display: block;
        color:$color-primario;
        height: 50px;
        text-decoration: none;
        padding: 15px;
        border-bottom: 1px solid $color-borde;
    }
    
    .menu a:hover {
        background: rgb(241, 217, 154);
    }
    
    #menu-bar:checked ~ .menu {
        transform: translateX(0%);
    }
    
    /*Resposive*/
    @media (min-width:980px) {
        .menu {
            position: static;
            width: auto;
            height: auto;
            transform: translateX(0%);
            float: right;
            display: flex;
        }
    
        .menu a {
            border: none
        }
        header label {
            display: none;
        }
    }
    
    /*----BANNER----*/
    
    #banner {
        margin-top: 25px;
        position: relative;
    }
    #banner img {
        width: 100%;
        height: 100%;
    }
    #banner .contenedor{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    /*Responsive*/
    @media(min-width:480px) {
        #banner{
            margin-top: 25px;
        }
    }
    @media(min-width:768px) {
        #banner {
            height: 300px;
            overflow: hidden;
        }
        #banner{
            height: auto;
            margin-top: -100px;
        }
    }
    
    
    /*----INTRO----*/
    #intro {
        text-align: center;
        color:$color-letras;
    }
    #intro img{
        width: 80%;
        height: 80%;
    }
    
    
    /*----EJEMPLOS----*/
    #ejemplo {
    background-color:$color-ejemplos;
    color:$color-letras;
    text-align: center;
    padding: 20px;
    }
    
    #ejemplo .contenedor {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .ejemplo-gym {
        margin: 20px;
    }
    
    .ejemplo-gym img {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 7px solid $color-borde;
    }
    
    /*Responsive*/
    @media (min-width:480px) {
        .ejemplo-gym {
            width: 40%;
        }
    }
    @media (min-width:980px) {
        .ejemplo-gym {
            width: auto;
        }
    }
    