footer .contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 5px;
  background-color: #535353;
  width: 100%;
  position: absolute;
  bottom: 0; }
  footer .contenedor .foot {
    font-size: 18px; }
  footer .contenedor .redes {
    width: 100%;
    text-align: center;
    font-size: 25px; }
  footer .contenedor a {
    color: goldenrod;
    text-decoration: none; }
  footer .contenedor p {
    margin-top: 6px;
    color: goldenrod; }

.gallery-container {
  display: grid;
  grid-template-columns: repeat(1, auto);
  grid-auto-rows: 150px;
  padding: 30px;
  grid-gap: 10px; }

.gallery__item {
  position: relative; }

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-items: center; }

.gallery__item:nth-child(1) {
  grid-column-start: span 2;
  grid-row-start: span 2; }

.gallery__item:nth-child(5) {
  grid-row-start: span 2; }

.gallery__title {
  bottom: 0;
  color: #ffffff;
  width: 100%;
  margin: 0;
  position: absolute;
  font-size: 20px;
  display: flex; }

@media (min-width: 450px) {
  .gallery-container .gallery__img {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr); }
  .gallery__item:nth-child(1) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(2) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(3) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(4) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(5) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(6) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(7) {
    grid-column-start: span 1; }
  .gallery__item:nth-child(8) {
    grid-column-start: span 1; }
  .gallery__title {
    font-size: medium; } }

@media (min-width: 768px) {
  .gallery-container .gallery__img {
    grid-template-columns: repeat(3, 1fr); }
  .gallery__item:nth-child(1) {
    grid-column-start: span 2;
    grid-row-start: span 2; }
  .gallery__item:nth-child(5) {
    grid-row-start: span 2; }
  .gallery__item:nth-child(6) {
    grid-row-start: span 2; }
  .gallery__item:nth-child(7) {
    grid-row-start: span 3; }
  .gallery__item:nth-child(8) {
    grid-row-start: span 2; }
  .gallery__title {
    font-size: large; } }

@media (min-width: 1124px) {
  .gallery-container .gallery__img {
    grid-template-columns: repeat(4, 1fr); }
  .gallery__item:nth-child(1) {
    grid-column-start: span 3;
    grid-row-start: span 4; }
  .gallery__item:nth-child(5) {
    grid-row-start: span 4; }
  .gallery__item:nth-child(7) {
    grid-row-start: span 4; }
  .gallery__title {
    font-size: x-large; } }

@media (min-width: 1600px) {
  .gallery-container .gallery__img {
    grid-template-columns: repeat(4, auto);
    grid-template-areas: 'foto1 foto1 foto1 foto1' 'foto2 foto2 foto3 foto3' 'foto4 foto4 foto4 foto4' 'foto5 foto5 foto6 foto6' 'foto5 foto5 foto8 foto8'; }
  .gallery__title {
    font-size: xx-large; } }

.gallery__img:hover {
  background-color: gold;
  opacity: 0.3; }

form {
  width: 80%;
  padding: 50px;
  border-radius: 10px;
  margin: auto;
  background-color: #aa7b4c; }
  formlabel {
    width: 72px;
    font-weight: bold;
    display: inline-block; }

form input[type="text"],
form input[type="email"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #daa520;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  display: inline-block; }

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #daa520;
  border-radius: 5px;
  display: block;
  color: #ffffff;
  background-color: #daa520; }
  form input[type="submit"]:hover {
    cursor: pointer; }

/*form input[type="submit"]:hover
    {
    cursor: pointer;
    }*/
textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #5a5958;
  border-radius: 3px;
  background-color: #ffffff;
  margin: 8px 0;
  resize: none;
  display: block; }

header {
  width: 100%;
  height: 50px;
  background: #ffffff;
  color: #daa520;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer; }

.contenedor {
  width: 90%;
  margin: auto; }

h1 {
  float: left; }

header .contenedor {
  display: table; }

#menu-bar {
  display: none; }

.menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #daa520;
  transition: all 0.5s;
  transform: translateX(-100%); }
  .menu a {
    display: block;
    color: #ffffff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid #5a5958; }
  .menu :hover {
    background: #444139; }

#menu-bar:checked ~ .menu {
  transform: translateX(0%); }

/*Resposive*/
@media (min-width: 980px) {
  .menu {
    position: static;
    width: auto;
    height: auto;
    transform: translateX(0%);
    float: right;
    display: flex; }
    .menu a {
      border: none; }
  /*.menu a {
        border: none
    }*/
  header label {
    display: none; } }

.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #b9b8b8;
  background-size: cover;
  background-position: center;
  transition: all 1s ease-in-out;
  background-image: url("../assets/imageness/gimnasio-principal.jpg"); }
  .banner .banner-contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    font-weight: bolder; }
  .banner .banner-contenedor {
    font-size: 80px; }

/*.banner-contenedor{
    font-size: 80px;
}*/
@media (max-width: 500px) {
  .banner-contenedor {
    font-size: 60px; } }

@media (max-width: 370px) {
  .banner-contenedor {
    font-size: 40px; } }

#ejemplo {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  padding: 20px; }
  #ejemplo .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  #ejemplo .ejemplo-gym {
    margin: 20px; }
    #ejemplo .ejemplo-gym img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      border: 7px solid #5a5958; }

@media (min-width: 480px) {
  .ejemplo-gym {
    width: 40%; } }

@media (min-width: 980px) {
  .ejemplo-gym {
    width: auto; } }

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0; }

li {
  padding: 20px; }
  li:hover {
    background-color: #daa520;
    color: #ffffff; }

.principal-text {
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
  color: #ffffff; }

h3 {
  text-align: center;
  color: #daa520; }

.principal {
  padding-top: 20px;
  margin-top: 10vh; }

.center {
  padding: 20px;
  text-align: center;
  color: #daa520; }

#intro {
  text-align: center;
  color: #ffffff; }
  #intro img {
    width: 80%;
    height: 80%; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  padding-bottom: 5rem; }

section {
  width: 100%;
  margin-bottom: 25px; }

@media (max-width: 400px) {
  h1 {
    font-size: xx-large; } }

@media (max-width: 322px) {
  h1 {
    font-size: x-large;
    text-align: left;
    padding-top: 10px; } }
